%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{erl_opts, [debug_info,warnings_as_errors, {i, ["deps/parsec-erlang/"]}, {src_dirs, ["deps/parsec-erlang/src/"]}]}.
{erl_first_files, ["deps/parsec-erlang/src/import_enhancements.erl", "deps/parsec-erlang/src/parsec_do.erl", "deps/parsec-erlang/src/parsec_pos.erl", "deps/parsec-erlang/src/parsec_error.erl", "deps/parsec-erlang/src/parsec_prim.erl"]}.
{xref_checks, [undefined_function_calls]}.


{deps_dir, "deps"}.

%{pre_hooks, [{clean, "./make-deps.sh clean"},
%             {compile, "./make-deps.sh compile"}]}
